@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://allfont.es/allfont.css?fonts=noto-serif');





/*Making the layout responsive with columns*/
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
	/*Antes 15px*/
    padding: 5px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* CSS FOR LOGO */
#logo {
	float: left;
	width: 190px;
	height: 60px;
  padding:5px;
  padding-left: 100px;
  margin:0px;
}

/* ---------------------------------- MAIN PARTS OF LAYOUT ---------------------------------- */

/*HEADER*/
header{
	background-color: #ebfaeb;
	text-align: left;
	font-size:20px;
	color: black;
	border-radius: 0px;
	overflow:auto;
	padding: 0px;
	/*Añadido, no tengo claro por que?*/
	size:100%;
  width: 100%; /* Para que se quede fixed*/
  position: fixed;

}

/*SECTION*/
section {
/*flex:100%;*/
	background-color: white;
	text-align: justify;
	padding: 100px;
	border-radius:0px;
	margin: 15px;
	padding-top: 0px;
	margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;

}
#inicio {
  padding-top: 100px;
}

/*BODY*/
body{
	font-family: Comfortaa ;
	background-color: white;
}



/* ------------------------------------------------------ PARA LAS FOTOS DE EQUIPO ------------------------------------------------------ */
img.avatar {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  border: 2px solid black;
  /* vertical-align:middle; */
  /* margin: auto; */
  margin-left: 25px;

}
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
  left:0;
  right:0;
  /* align: center; */
  /* display: flex; */
  align-items:center;
}

.hola {
  text-align: center;

}

.row{
  clear:both;
}

.title {
  color: grey;
}

.card {
  /* vertical-align:middle; */

}

.team{
  padding-top: 20px;
  padding-bottom: 50px;
}

/*ARTICLE*/
article {
	flex:100%;
	background-color: white;
	text-align: justify;
	padding: 2%;
	border-radius:0px;
	margin: 0px;
}

/*FOOTER*/
footer {
	background-color: #a1c7eb;
	padding: 5px;
	font-size: 12px;
	color: black;
	margin: 5px 0px 0px 0px;
	overflow:auto;
	width:100%
}




/*Setting header options horizontal menu*/
ul#reglog {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    font-size: 18px;
    margin-left: 30px;
    padding-right: 100px;

}

#reglog li {
    float: left;
    margin-top: 10px;
    font-weight: 600;
}

#reglog li a {
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#reglog li a:hover {
    opacity:0.7;
    color: black;
    border: 2px solid #c2f0c2;
    font-weight: 1000;
    border-radius: 30%;
    background-color: #c2f0c2;
}

/*Setting options for the menu under the header*/
ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3D3D3;
    border-radius: 0px;
    font-size: 16px;

}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: white;
    color: #4c4c4c;
}

.active {
    background-color: white;
    color:  #4c4c4c;
    font-weight: 900;
}



.signupButton {
  float: right;
  width: 49%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  font-family: Comfortaa;
  font-size: 14px;
}

.loginButton {
  float: centered;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  font-family: Comfortaa;
  font-size: 14px;
}

.cancelButton {
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 49%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 10px;
    font-family: Comfortaa;
    font-size: 14px;
}


/*Sets the color and font for the form input hint*/
input{
	color: black;
	font-family: Comfortaa;
	/*width:100%;*/
	font-size:15px;
  background: #f1f1f1;
  margin: 5px 0 22px 0;
  padding: 6px;
  border:1px solid #c0c2c4;
}

.format {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

h3 {
  font-family: Amatic SC;
  text-align: left;
  font-size: 200%;
  font-weight: 1000;
}

#navigationbar{
  margin: 2px 0px;
}

button.headerbuttons{
  float:right;
  background-color: white;
  padding: 14px 20px;
  width: 7%;
  margin:30px 20px 10px 10px;/*Top right bottom left*/
  cursor: pointer;
  opacity: 0.8;
  border-radius: 8px;
  font-family: Comfortaa;
  font-size: 14px;
}

.headerbuttons:hover {
    background-color: #D3D3D3;
    color: #4c4c4c;
    font-weight: 900;
}

/*Actions on links*/
a:link, a:visited {
	color: #4c4c4c;
	text-decoration:none;
}

a:hover {
	color: black;
  text-decoration:none;
  font-weight: 1000;
}

.small_icon{
	height:20px;
	width:20px;
}

/*Footer characteristics*/
ul#footer_list{
	list-style-type: none;
	overflow: hidden;
	padding:5px;
	margin:5px;
}

ul#footer_list li {
	font-size: 10px;
	text-align: center;
	padding: 14px 14px;
	margin-top:-15px;
	text-decoration: none;
	float:left;
}


/*Make the div flexible*/
.row-edit {
    display: flex;
    flex-wrap: wrap;
}

.row-edit2 {
    display: flex;
}

@media (max-width: 768px) {
    .row-edit{
        flex-direction: column;
    }
}

/*Setting Buttons characteristics*/
button{
	background-color:white;
	float:right;
	text-decoration:none;
	cursor:pointer;
	border:none;
}

#pass{
  font-size: 11px;
  float:right;
}

/* ------------------------------------------------------ WHO TO FOLLOW -------------------------------------------------- */

img.users{
  height:80px;
  /* width:100px; */
}

div.follow{
  width:33%;
  /*border: 2px solid #a1c7eb;*/
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 5px 6px;
  padding: 10px;
  float: left;
  font-size: 16px;
  margin-bottom: 2%;
}

.number {
  font-size: 13px;
  text-align: center;
}

.imageUser{
  float:left;
  margin-right: 70px;
}

.nameUser {
  text-align: left;
  float: left;
}

div.under_pic{
  clear:both;
	margin-top: 100px;
}
/* PARA LAS FOTOS DE EQUIPO*/

/* ------------------------------------------------------ FOR THE REGISTER/LOGIN PAGES -------------------------------------------------- */


#menu{display: block;}

#navigationbar{display: block;}

#regForm{
	display: none;
	margin: 1% 0%;
}

#regForm h2{
	font-size: 40px;
}
#loginForm{
	display: none;
	margin: 1% 0%;
}

#loginForm h2{
	font-size: 40px;
}

#mixedSlider{display:block;}
#suggestions{display:block;}
#popular{display:none;}
.onlyHotels{display:none;}
.onlySearch{display:none;}


/* ---------------------------------------------------- User Profile ------------------------------------------------- */
#profileContainer{
  width: 100%;
  overflow: auto;
  display: flex;

}

#leftProfile {
  display: none;
	width:31%;
	background: #f1f1f1;
	padding: 1%;
  border-radius: 3px;
  float:left;
	margin-top: 1%;
  margin-right: 1%;

}

#leftProfile ul{
  list-style-type: none;
}

#leftProfile li{
  font-size: 18px;
}

.regButton{
	background-color:#a1c7eb;
	float:right;
	text-decoration:none;
	cursor:pointer;
	border-radius: 5px;
  border:1px solid black;
  margin:5px;
  margin-top: 25px;
  padding: 3% 4%;
}

.negr {
  border:0.5px solid #4c4c4c;
}

.listExplanation{
  margin-top: 5px;
}


#rightProfile {
  display: none;
	width:64%;
  float:left;
	background-color: #d5e6f6;
	text-align: justify;
	padding: 1%;
  border-radius: 3px;
  margin: 1% 0%;
  margin-bottom: 0px;

}

#rightProfile h2 {
  font-size: 45px;
  font-weight: 900;

}

#lastReviews{
  display: none;
}

#lastReviewContainerExtra{
  display: none;
}

#lastReviewTitle{
  margin-bottom: 0px;
}

.lastReviewContainer{
  overflow: auto;
  border: 1px solid black;
  background: white;
  margin-top: 10px;
}

.lastReviewPict img{
  width: 100%;
}

.lastReviewPict{
  overflow: auto;
  width: 20%;
  margin: 1%;
  margin-right: 2%;
  float: left;
  min-width: 214px;
}

.lastReviewDetails{
  width: fit-content;
  margin: 0;
  overflow: auto;
  float: left;
}

.lastReviewDetails h2{
  font-weight: 900;
  font-size: 40px;
}

/*.opinion{
  overflow: auto;
  float: left;
  margin-right: 1%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 5px;
}*/

.lastReviewOpinion{
  overflow: auto;
  float: left;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  width: 100%;

  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
}

.lastReviewOpinion h3{
  text-align: left;
  margin: 5px;
  margin-bottom: 30px;
}

#savedPlaces{
  display: none;
}

.savedPlacesOpinionsContainer{
  width: 100%;
  overflow: auto;
  padding: 0 1%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.savedPlacesOpinion{
  overflow: auto;
  float: left;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  width: 50%;

  margin: 5px;
}

.savedPlacesOpinion h3{
  text-align: left;
  margin: 5px;
  margin-bottom: 30px;
}

.savedPlacesOptions button{
  background-color: #a1c7eb;
  border-radius: 5px;
  margin: 4px;
  padding: 5% 10%;
  width: 90%;
  border: 0.5px solid black;
}

.savedPlacesOptions{
  /*width: fit-content;*/
  margin: 0;
  overflow: auto;
  float: right;
  text-align: center;
  margin: 1px;
}


/*Sets the styling for the preferences in the bottom of the section*/
span.pref {
	border: 1px solid black;
	padding:5px;
	margin:5px 6px;
	font-size:75%;
	/*If it doesn't fit in one line, takes the whole box to the next line*/
	display: inline-block;
}

/*Setting Buttons characteristics*/
button{
	background-color:white;
	float:right;
	text-decoration:none;
	cursor:pointer;
	border:none;
}

#personalinfo, #lastReviews {
  display:none;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

#infoUsername{display:inline;}

#infoName, #infoSurname, #infoPhone, #infoBirthdate{
    width:90%;
    margin-right: 5%;
    margin-left: 0%;
}

 #infoAddress, #infoEmail{
   width:95%;
   margin-right: 5%;
   margin-left: 0%;
 }

#titlePersonalInfo{
  width:100%;
  margin: 1% 0%;
  margin-bottom: -1%;
}


.width50{
  float:left;
  width:50%;
  margin-top: 3%;
}

.width25{
  float:left;
  width:25%;
  margin-top: 3%;
}

/*Styling for "My activity in the App"*/
span.dot {
  height: 120px;
  width: 120px;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 0px 5px 5px 12px;
}

.changeButton {
  width: 20%;
  float:left;
  background-color: #4CAF50;
  color: white;
  padding: 14px 0px;
  margin-top: 2%;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  font-family: Comfortaa;
  font-size: 14px;
}

/* --------------------------------------------------------------------- SEARCH --------------------------------------------------------------- */
/*Search bar*/
#searchBoxHotels, #searchBoxExperiences{
  display:none;
	width: 98%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left:auto;
	margin-right:auto;
	background-image: url("../images/search/paisaje3.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
}

#searchInputHotels, #searchInputExperiences{
	height:36.2833px;
	width:90%;
	margin: 8px 0px;
}

#searchEngine{
	width:60%;
	padding: 2% 0%;
	margin-left:auto;
	margin-right:auto;
}

.search-container {
  float:left;
  width: 93%;
  margin-bottom: 3%;
}

.search-container input[type=text] {
  padding: 6px;
  margin: 8px 0px;
  font-size: 17px;
  border: none;
}

.search-container button {
  width:10%;
  float: right;
  padding: 6px 6px;
  margin-top: 8px;
  margin-right: 0px;
  margin-left: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.searchParameters{
	margin-bottom: 3%;
	float:left;
	width:33%;
}

.searchParameters label{
	width:100%;
}



/* ------------------------------------------------------ Fonts -------------------------------------------------- */
/*Company title*/
h1{
	width: 100%;
	float:left;
  color:black;
	font-family: Lora;
	font-size: 200%;
	margin:4% 1% 0% 0%;
  font-weight: 600;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

h2 {
    margin:15px auto;
    font-family: Comfortaa;
    font-weight: 1000;
    font-size: 150%;
}
p {
  text-align:justify;
  font-size: 120%;
}
